*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
a{
    text-decoration: none;
}
header{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}
.header-banner{
    color: white;
    text-align:center;
    display: grid;
    gap:20px;   
}
.register{
    
    background-color:blue;
    padding: 20px 12px 20px;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    border: none;
    font-size: 12px;
    

}
.header-banner button{
    width: 30%;
    margin-left: 35%;
    background-color:blue;
    padding:20px 20px 20px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 25%;
}
.header-banner h1{
    font-weight: bold;
    font-size: 80px;
}
.header-banner p{
    color: whitesmoke;
    font-size: 20px;
}
section{
    padding: 20px 8%;
}
.gallery{
    margin-top: 100px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2,1fr);
}
section h5{
    color: blue;
}
section h2{
    justify-content: center;
    text-align: center;
    margin-top: 90px;
    font-size: 80px;
    margin-right: 60px;
}
.box-1 h5 p h6{
    background-color: red;
    border-radius: 12px;
}



